body {
  background: -webkit-linear-gradient(top,#f8f5e6, #eeebd8);
}
.emp-checkout{
padding: 3%;
margin-top: 3%;
margin-bottom: 3%;
border-radius: 0.5rem;
background: #f3e3b5;
}

#cart div img {
  width: 30vmin;
}

#space {
  height: 25vh;
}

.btn-dark {
  color: #fff;
  background-color:#6e251c;
  border-color:  #ffffff;
}

.btn-success {
  color: #fff;
  background-color: #f5644d;
  border-color: #fff261;
}

.border-primary {
  margin-top: 2%;
  border-color: #1e1d20 !important;
}

/* button before click */
.btn-secondary  {
  background-color:  #6e251c;
  color: #ffffff;

}
/* When button clicked */
.btn-secondary:hover {
  background-color: #1a0603;
  color: #fff7ff;
}