body {
  background-color: #030303;
  padding: 20px;
  font-family: Arial;
}
.emp-checkout{
padding: 3%;
margin-top: 3%;
margin-bottom: 3%;
border-radius: 0.5rem;
background: #ffffff;
}

#cart div img {
  width: 30vmin;
}

#space {
  height: 25vh;
}

.btn-dark {
  color: #fff;
  background-color:#37bdda;
  border-color:  #ffffff;
}

.btn-success {
  color: #fff;
  background-color: #f5644d;
  border-color: #fff261;
}

.border-primary {
  margin-top: 2%;
  border-color: #1e1d20 !important;
}

/* button before click */
.btn-secondary  {
  background-color: #37bdda;
  color: #000000;

}
/* When button clicked */
.btn-secondary:hover {
  background-color: #1a0603;
  color: #fff7ff;
}