@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
body {
  background-color: #030303;
  padding: 20px;
  font-family: Arial;
}

.emp-ordering{
  padding: 4%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #ffffff;
}
.sear .navbar-nav .nav-item .nav-link{
  font-size: 10pt;
  color: #37bdda;
}

#department{
  background-color:snow;
  margin-bottom:63% ;
}

#department img {
  width: 30vmin;
}
.border-primary {
  border-color: #37bdda!important;
}
.container button {
  margin-right: 10%;
  background-color: #37bdda;
  color:#000000;
}
.container button:hover {
  background-color: #000000;
}

.col-auto h4 {
  margin-top:15%;
  font-size: 4vmin;
  font-family: 'Arvo', serif;
}

.fa-shopping-cart {
  font-size: 30px;
  color:rgb(238, 131, 131);
}

#department img {
  width: 30vmin;
}

#cssSortyBy {
  justify-content: right;
  color: white;
  float: right;
}
